* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: rgb(0, 212, 255);
  background: linear-gradient(0deg, #1498d5 0%, rgb(252, 252, 252) 100%);
  background-size: cover;
}

header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
}

.logo img {
  height: 50px;
  width: auto;
}

form,
input {
  margin: 0;
  height: 3em;
  padding: 0.5em;
  border-radius: 4px;
  outline: none;
}

button {
  height: 3em;
  width: 3em;
  padding: 0.5em;
  border: none;
  background: #1498d5;
  cursor: pointer;
}

#search-icon {
  font-size: 1em;
  color: #fff;
}

.big-container {
  width: 80%;
  height: 100%;
  background: #f0f0f0;
  margin: auto;
  border-radius: 9px;
  border-radius: 50px;
  background: linear-gradient(145deg, #ffffff, #d8d8d8);
  box-shadow: 20px 20px 5px #cccccc, -20px -20px 5px #ffffff;
}

.date-container {
  text-align: center;
  font-size: 1em;
}

.day-weather {
  min-height: 40%;
  width: 30%;
  background: #000;
  margin: auto;
}

.weather-time {
  color: #fff;
  font-size: 1.5rem;
}

.top-day {
  text-align: center;
}

.fa-sun {
  font-size: 4rem;
  color: hsl(45, 98%, 60%);
}

ul {
  list-style: none;
}
