* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: rgb(0, 212, 255);
  background: linear-gradient(
    0deg,
    rgba(0, 212, 255, 1) 0%,
    rgb(252, 252, 252) 100%
  );
  background-size: cover;
}

header {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
}

.logo img {
  height: 50px;
  width: auto;
}
